.env
.env.local
platform/services/*/secrets.env
platform/services/borgmatic/envs/borgbase.env
platform/services/borgmatic/envs/databases.env

sops_age_key*
*.age

secrets/
!platform/services/*/secrets/
