.env
.env.local
borgmatic/envs/borgbase.env
borgmatic/envs/databases.env

sops_age_key*
*.age

secrets/

authelia/config/users.yml

# Borgmatic SSH keys and known hosts
borgmatic/ssh/id_rsa*
borgmatic/ssh/known_hosts*
