WEEKLY_MONEY_DATABASE_PASSWORD=""
NOTION_ACCESS_TOKEN=""
NOTION_PRODUCTS_DATASOURCE_ID=""
NOTION_PORTFOLIO_DATASOURCE_ID=""
NOTION_PORTFOLIO_ACCOUNT_ID=""
DISCORD_BOT_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_USER_ID=""
ALPHA_VANTAGE_API_KEY=""
