AUTHELIA_JWT_SECRET=""
AUTHELIA_SESSION_SECRET=""
AUTHELIA_STORAGE_PASSWORD=""
AUTHELIA_STORAGE_ENCRYPTION_KEY=""
LDAP_ADMIN_PASSWORD=""
ORGANISATION_NAME=""
LDAP_BASE_DN=""
LDAP_USER_DC=""
LDAP_GROUP_DC=""
AUTHELIA_LDAP_USER=""
AUTHELIA_SYSTEM_EMAIL=""
AUTHELIA_SYSTEM_EMAIL_SENDER=""
